[submodule "via_robot/via_plugins/realsense_gazebo_plugin"]
	path = via_robot/via_plugins/realsense_gazebo_plugin
	url = https://github.com/pal-robotics/realsense_gazebo_plugin
[submodule "via_robot/via_plugins/gps_gazebo_plugin/hector_gazebo"]
	path = via_robot/via_plugins/gps_gazebo_plugin/hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo
