<?xml version="1.0"?>
<robot name="gpg3_sim" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Base_link -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- RL wheel mechanical properties -->
  <gazebo reference="wheel_RL">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <transmission name="wheel_RL_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_RL_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_RL_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- FL wheel mechanical properties -->
  <gazebo reference="wheel_FL">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <transmission name="wheel_FL_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_FL_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_FL_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- RR wheel mechanical properties -->
  <gazebo reference="wheel_RR">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <transmission name="wheel_RR_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_RR_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_RR_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- FR wheel mechanical properties -->
  <gazebo reference="wheel_FR">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <transmission name="wheel_FR_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_FR_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_FR_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- IMU sensor -->
  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
    <material>Gazebo/Green</material>
  </gazebo>
  <!-- IMU plugin -->
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <frameName>imu_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>200</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <!-- Hokuyo LiDAR -->
  <gazebo reference="laser_frame">
    <material>Gazebo/Red</material>
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="laser_controller" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>laser_frame</frameName>
        <!--output_type>sensor_msgs/LaserScan</output_type-->
      </plugin>
    </sensor>
  </gazebo>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
