<?xml version="1.0"?>
<launch>

  <!-- Gazebo arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- World file -->
  <!--arg name="world" default="empty"/-->
  <arg name="world" default="via_navtestmap4"/>
  <!--arg name="world" default="singlePillar"/-->
  <!--arg name="world" default="farmWith1CropRow"/-->
  <arg name="world_file" default="$(find via_gazebo)/worlds/$(arg world).world"/>

  <!-- Robot arguments -->
  <arg name="robot_model_name" default="via"/>
	<arg name="use_rqt_steering" default="false" />
  <arg name="enable_rviz" default="true" />
	<arg name="use_map" default="false" />

  <!-- Set the initial pose of the robot's main body -->
  <arg name="x"                                     default="0.0"/>
  <arg name="y"                                     default="0.0"/>
  <arg name="z"                                     default="1.2"/>
  <arg name="roll"                                  default="0.0"/>
  <arg name="pitch"                                 default="0.0"/>
  <arg name="yaw"                                   default="0.0"/>

  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
		<arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
		<arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Load robot description for gazebo -->
  <include file="$(find via_description)/launch/load.launch"/>

	<!-- Load navigation stack -->
	<include file="$(find via_navigation)/launch/via_navigation.launch">
		<arg name="use_map" value="$(arg use_map)"/>
		<arg name="enable_rviz" default="$(arg enable_rviz)" />
  </include>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model $(arg robot_model_name) -x $(arg x)3
      -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
    output="screen"/>

  <!-- Spawn the controllers -->
  <include file="$(find via_control)/launch/control.launch">
    <arg name="use_rqt_steering" value="$(arg use_rqt_steering)" />
  </include>
  
  <!-- Launch Agribot visual servoing >
  <node pkg="visual_crop_row_navigation" type="agribot_vs_node" name="agribot_vs" output="screen">
	  <rosparam command="load" file="$(find visual_crop_row_navigation)/params/agribot_vs_run.yaml"/>
  </node-->

</launch>
